DB_HOST="localhost"
DB_PORT=3306
DB_NAME="shopping_management"
DB_USER="root"
DB_PASS=""
APP_ENV="local"

# Configuración para el envío de correos electrónicos
SMTP_HOST=smtp.gmail.com
SMTP_USER=correo@example.com
# Contraseña de acceso a la cuenta de correo (puede ser una contraseña de aplicación si se tiene habilitada la verificación en dos pasos)
SMTP_PASS=contraseña_de_correo